In [ ]:
# import warnings
# warnings.filterwarnings("ignore")

import csv
import numpy as np
import pandas as pd
# import geopandas as gpd
from IPython.display import Image
# from shapely.geometry import Point, Polygon
from math import factorial
import scipy
import scipy.signal
import os, os.path

from datetime import date
import datetime
import time

from statsmodels.sandbox.regression.predstd import wls_prediction_std
from sklearn.linear_model import LinearRegression
from patsy import cr

# from pprint import pprint
import matplotlib.pylab as pylab
import matplotlib.pyplot as plt
import seaborn as sb

import sys
import io

# to move files from one directory to another
import shutil


import yfinance as yf
from nasdaq_stock import nasdaq_stock as nasdaq_stock
import requests


from pylab import rcParams



# search path for modules
# look @ https://stackoverflow.com/questions/67631/how-to-import-a-module-given-the-full-path
sys.path.append('../')
import cycles_core as cc
import cycles_plot_core as cpc

In [2]:
data_dir = "/Users/hn/Documents/01_research_data/Supriya_challenge/Gridmet/"

In [35]:
# List all the csv files in the data directory
file_names = [x for x in os.listdir(data_dir) if x.endswith(".csv")]
file_names.sort()
file_names[0:2]

['AZ_gridmet_1979_2020_CONUS_daily.csv',
 'CAa_gridmet_1979_2020_CONUS_daily.csv']

In [36]:
file_names[0:2]

['AZ_gridmet_1979_2020_CONUS_daily.csv',
 'CAa_gridmet_1979_2020_CONUS_daily.csv']

In [53]:
###
###   Read CSV file. skip the first 16 rows
###
a_df = pd.read_csv(data_dir + file_names[0], skiprows=16)


###
###  sort by date column.
###
a_df.sort_values(by=['yyyy-mm-dd'], inplace=True)

###
###  Reset index
###
a_df.reset_index(drop=True, inplace=True)


a_df ['tmmx(C)'] = a_df['tmmx(K)'] - 273.15
a_df ['tmmn(C)'] = a_df['tmmn(K)'] - 273.15
a_df ['tavg(C)'] = (a_df['tmmx(C)'] + a_df['tmmn(C)']) / 2

In [54]:
print (a_df.shape)
a_df.head(3)

(15183, 9)

,yyyy-mm-dd,sph(kg/kg),pr(mm),srad(Wm-2),tmmx(K),tmmn(K),tmmx(C),tmmn(C),tavg(C)
0,1979-01-01,0.00239,0.0,191.2,286.1,272.9,12.95,-0.25,6.35
1,1979-01-02,0.00182,0.0,138.0,285.1,270.6,11.95,-2.55,4.70
2,1979-01-03,0.00297,0.0,119.6,289.5,274.7,16.35,1.55,8.95

In [55]:
window_size = 10
a_df.rolling(window_size)

Rolling [window=10,center=False,axis=0]

In [ ]:
for window in a_df.rolling(window = 10):
    print(window)