In [1]:
import os, fnmatch
import glob

location = "/Users/hn/Documents/01_research_data/remote_sensing/test_Aeolus_data/"
file_list = os.listdir(location)
file_list

['double_cropped_plants_SEOS3.csv',
 '.DS_Store',
 'Yakima_2018_regular_EVI_SG_win9_Order3.csv']

In [2]:
patt = "*" + str(2018) + "*"
file_list = fnmatch.filter(os.listdir(location), patt)
file_list

['Yakima_2018_regular_EVI_SG_win9_Order3.csv']

In [3]:
needed_columns = ["ID", "Acres", "county", "CropTyp", "DataSrc", "Irrigtn", "LstSrvD", "Notes", 
                  "RtCrpTy", "image_year", "SF_year", "season_count"]

In [4]:
needed_columns = ["ID", "Acres", "county", "CropTyp", "DataSrc", "Irrigtn", "LstSrvD", "Notes", 
                  "RtCrpTy", "image_year", "SF_year", "season_count"]

output_columns = needed_columns.copy()
output_columns.append("SG_params")

In [5]:
needed_columns

['ID',
 'Acres',
 'county',
 'CropTyp',
 'DataSrc',
 'Irrigtn',
 'LstSrvD',
 'Notes',
 'RtCrpTy',
 'image_year',
 'SF_year',
 'season_count']

In [6]:
output_columns

['ID',
 'Acres',
 'county',
 'CropTyp',
 'DataSrc',
 'Irrigtn',
 'LstSrvD',
 'Notes',
 'RtCrpTy',
 'image_year',
 'SF_year',
 'season_count',
 'SG_params']

In [7]:
SG = "51"

In [8]:
SG[1]

'1'

In [9]:
import pandas as pd
A = pd.DataFrame(data = None, 
                 columns = output_columns)
A

Empty DataFrame
Columns: [ID, Acres, county, CropTyp, DataSrc, Irrigtn, LstSrvD, Notes, RtCrpTy, image_year, SF_year, season_count, SG_params]
Index: []

In [10]:
curr_file = pd.read_csv(location + file_list[0])

In [11]:
curr_file.shape

(22107, 25)

In [12]:
curr_file.head(3)

,ID,Acres,county,CropGrp,CropTyp,DataSrc,ExctAcr,IntlSrD,Irrigtn,LstSrvD,...,image_year,SF_year,doy,EVI,human_system_start_time,Date,EVI_ratio,SOS,EOS,season_count
0,49283_WSDA_SF_2018,2,Yakima,Developed,developed,wsda,1.689295,1996/01/01 00:00:00,sprinkler,2002/05/28 00:00:00,...,2018,2018,1,0.400412,2018-01-01 00:00:00,2018-01-01 00:00:00,666.0,666.0,666.0,1
1,32302_WSDA_SF_2018,16,Yakima,Developed,developed,wsda,15.562098,1996/01/01 00:00:00,none,2002/05/28 00:00:00,...,2018,2018,1,0.281753,2018-01-01 00:00:00,2018-01-01 00:00:00,666.0,666.0,666.0,1
2,37034_WSDA_SF_2018,6,Yakima,Developed,developed,wsda,6.079239,1996/01/01 00:00:00,none,2002/11/02 00:00:00,...,2018,2018,1,0.144233,2018-01-01 00:00:00,2018-01-01 00:00:00,666.0,666.0,666.0,1

In [20]:
curr_file = curr_file[curr_file.DataSrc != "nass"]

In [21]:
curr_file.shape

(21345, 25)

In [ ]:
LstSrvD

In [74]:
curr_file = curr_file[needed_columns]
curr_file.shape

(22107, 12)

In [83]:
curr_file = curr_file[curr_file.season_count >= 2]

In [86]:
curr_file.drop_duplicates(inplace=True)

In [88]:
curr_file.head(2)

,ID,Acres,county,CropTyp,DataSrc,Irrigtn,LstSrvD,Notes,RtCrpTy,image_year,SF_year,season_count
103,33836_WSDA_SF_2018,15,Yakima,developed,wsda,none,2011/10/19 00:00:00,NaN,Alfalfa/Grass Hay,2018,2018,2
108,38487_WSDA_SF_2018,2,Yakima,developed,wsda,none,2011/11/03 00:00:00,irrigation pond,Apple,2018,2018,2

In [94]:
curr_file.head(2)

,ID,Acres,county,CropTyp,DataSrc,Irrigtn,LstSrvD,Notes,RtCrpTy,image_year,SF_year,season_count,SG_params
103,33836_WSDA_SF_2018,15,Yakima,developed,wsda,none,2011/10/19 00:00:00,NaN,Alfalfa/Grass Hay,2018,2018,2,51
108,38487_WSDA_SF_2018,2,Yakima,developed,wsda,none,2011/11/03 00:00:00,irrigation pond,Apple,2018,2018,2,51