In [2]:
import csv
import numpy as np
import pandas as pd
# import geopandas as gpd
from IPython.display import Image
# from shapely.geometry import Point, Polygon
from math import factorial

import math
import datetime
from datetime import date
import datetime
import time


import scipy
import os, os.path
import itertools
from statsmodels.sandbox.regression.predstd import wls_prediction_std
from sklearn.linear_model import LinearRegression
from patsy import cr

# from pprint import pprint
import matplotlib.pyplot as plt
import seaborn as sb

import sys


# search path for modules
# look @ https://stackoverflow.com/questions/67631/how-to-import-a-module-given-the-full-path
sys.path.append('/Users/hn/Documents/00_GitHub/Ag/Stop_the_Rot/')
import onion_core as oc
import onion_plot_core as opc

In [5]:
data_dir = "/Users/hn/Documents/01_research_data/Stop_the_Rot/files_from_team/Columbia_Basin_Farm_A_red_onion_data/"
           
python_data_dir = "/Users/hn/Documents/01_research_data/Stop_the_Rot/Clean_For_Python/"

In [21]:
# , sheet_name = 'Real Time Soil Moisture data'
file_n = data_dir + "CLEANED(2) 2017 Red Onion Harvest Samples.xlsx"
samples = pd.read_excel(io = file_n, header = 0)
samples.sort_values(by = 'SampleDate', inplace = True)
samples.reset_index(drop = True, inplace = True)

,Date,SampleDate,LocationCode,Type,SampleType,SampleID,Item No,Color,Field code,Cultivar/ Variety code,...,MisShapedPercent,TranslucentScales,TranslucentScalesPercent,BlackMold,BlackMoldPercent,Peelers,PeelersPercent,OtherDefects,OtherDefectsPercent,LoadWeight
0,2017-09-13,2017-09-06,NaN,INT,FIELD,NaN,RED-ST,RED,A2,A_C01,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,32620
1,2017-09-12,2017-09-06,NaN,INT,FIELD,NaN,RED-ST,RED,A2,A_C01,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,30440

In [28]:
samples.columns

Index(['Date', 'SampleDate', 'LocationCode', 'Type', 'SampleType', 'SampleID',
       'Item No', 'Color', 'Field code', 'Cultivar/ Variety code',
       'TotalSampledOnions', 'TotalSizedOnions', 'PackOut', 'Medium1',
       'Jumbo1', 'Jumbo1Percent', 'Colossal1', 'Medium2', 'Jumbo2',
       'Colossal2', 'Medium', 'MediumPercent', 'Jumbo', 'JumboPercent',
       'Colossal', 'ColossalPercent', 'TotalCutOnions', 'SingleCenter',
       'SingleCenterPercent', 'TotalDefects', 'Mold', 'MoldPercent',
       'OffColor', 'OffColorPercent', 'ExtDecay', 'ExtDecayPercent',
       'IntDecay', 'IntDecayPercent', 'Translucent', 'TranslucentPercent',
       'ExtSprout', 'ExtSproutPercent', 'IntSprout', 'IntSproutPercent',
       'Freeze', 'FreezePercent', 'SeedStem', 'SeedStemPercent', 'SunScald',
       'SunScaldPercent', 'SourSkin', 'SourSkinPercent', 'Doubles',
       'DoublesPercent', 'Splits', 'SplitsPercent', 'Bursts', 'BurstsPercent',
       'BlownBottom', 'BlownBottomPercent', 'MechDamage', 'MechDamagePercent',
       'MisShaped', 'MisShapedPercent', 'TranslucentScales',
       'TranslucentScalesPercent', 'BlackMold', 'BlackMoldPercent', 'Peelers',
       'PeelersPercent', 'OtherDefects', 'OtherDefectsPercent', 'LoadWeight'],
      dtype='object')

In [33]:
A1_samples = samples[samples["Field code"] == "A1"].copy()
A2_samples = samples[samples["Field code"] == "A2"].copy()
A3_samples = samples[samples["Field code"] == "A3"].copy()
A4_samples = samples[samples["Field code"] == "A4"].copy()
A5_samples = samples[samples["Field code"] == "A5"].copy()

In [35]:
print (A1_samples.shape)
print (A2_samples.shape)
print (A3_samples.shape)
print (A4_samples.shape)
print (A5_samples.shape)

(55, 73)
(52, 73)
(43, 73)
(34, 73)
(32, 73)

In [39]:
min(A4_samples.IntDecayPercent)*100

7.8167

In [40]:
print (A1_samples.shape[0])
print (A2_samples.shape[0])
print (A3_samples.shape[0])
print (A4_samples.shape[0])
print (A5_samples.shape[0])

55
52
43
34
32

In [43]:
A4_samples.reset_index(drop = True, inplace = True)
A4_samples.head(100)

,Date,SampleDate,LocationCode,Type,SampleType,SampleID,Item No,Color,Field code,Cultivar/ Variety code,...,MisShapedPercent,TranslucentScales,TranslucentScalesPercent,BlackMold,BlackMoldPercent,Peelers,PeelersPercent,OtherDefects,OtherDefectsPercent,LoadWeight
0,2017-09-15,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,35080
1,2017-09-19,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.026315,0.0,0.0,0.0,0.0,0,0,0.0,0.0,34460
2,2017-09-19,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,34340
3,2017-09-19,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,34740
4,2017-09-15,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.028871,0.0,0.0,0.0,0.0,0,0,0.0,0.0,31920
5,2017-09-15,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,31920
6,2017-09-19,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,33820
7,2017-09-14,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,34020
8,2017-09-14,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,35320
9,2017-09-14,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.028322,0.0,0.0,0.0,0.0,0,0,0.0,0.0,34960
10,2017-09-14,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,33340
11,2017-09-14,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,34180
12,2017-09-14,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,33560
13,2017-09-15,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,31400
14,2017-09-14,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,33700
15,2017-09-19,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,31860
16,2017-09-19,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,32340
17,2017-09-18,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,31320
18,2017-09-15,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,34440
19,2017-09-18,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,32400
20,2017-09-18,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.041994,0.0,0.0,0.0,0.0,0,0,0.0,0.0,33600
21,2017-09-18,2017-09-13,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,33940
22,2017-09-16,2017-09-14,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.040540,0.0,0.0,0.0,0.0,0,0,0.0,0.0,31090
23,2017-09-16,2017-09-14,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,35220
24,2017-09-16,2017-09-14,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,35220
25,2017-09-16,2017-09-14,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,35440
26,2017-09-18,2017-09-14,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,33200
27,2017-09-16,2017-09-14,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,29490
28,2017-09-16,2017-09-14,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.087765,0.0,0.0,0.0,0.0,0,0,0.0,0.0,33700
29,2017-09-16,2017-09-14,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.034482,0.0,0.0,0.0,0.0,0,0,0.0,0.0,32380
30,2017-09-16,2017-09-14,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,34220
31,2017-09-16,2017-09-14,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.036796,0.0,0.0,0.0,0.0,0,0,0.0,0.0,30280
32,2017-09-16,2017-09-15,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,36640
33,2017-09-16,2017-09-15,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,39880

In [44]:
A4_samples.loc[31:100]

,Date,SampleDate,LocationCode,Type,SampleType,SampleID,Item No,Color,Field code,Cultivar/ Variety code,...,MisShapedPercent,TranslucentScales,TranslucentScalesPercent,BlackMold,BlackMoldPercent,Peelers,PeelersPercent,OtherDefects,OtherDefectsPercent,LoadWeight
31,2017-09-16,2017-09-14,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.036796,0.0,0.0,0.0,0.0,0,0,0.0,0.0,30280
32,2017-09-16,2017-09-15,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,36640
33,2017-09-16,2017-09-15,NaN,INT,FIELD,NaN,RED-ST,RED,A4,A_C01,...,0.000000,0.0,0.0,0.0,0.0,0,0,0.0,0.0,39880