In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [2]:
in_dir = "/Users/hn/Desktop/Desktop/Kirti/check_point/analogs/"
out_dir = "/Users/hn/Desktop/"

In [3]:
all_data_usa = pd.read_csv(in_dir + "all_data_usa.csv")
avg_rcp45 = pd.read_csv(in_dir + "averaged_data_rcp45.csv")
all_data_usa.head(2)

,year,location,medianDoY,NumLarvaGens_Aug,mean_escaped_Gen1,mean_escaped_Gen2,mean_escaped_Gen3,mean_escaped_Gen4,mean_precip,mean_gdd,treatment,ClimateScenario
0,1979,32.46875_-109.90625,68,2.939262,1.319697,7.080458,1.348167,0.0,300.525,4821.668922,0,observed
1,1979,32.46875_-109.96875,68,2.946050,1.245847,7.104994,1.396980,0.0,303.925,4831.770062,0,observed

In [4]:
avg_rcp45.head(2)

,year,location,medianDoY,NumLarvaGens_Aug,mean_escaped_Gen1,mean_escaped_Gen2,mean_escaped_Gen3,mean_escaped_Gen4,mean_precip,mean_gdd,treatment,ClimateScenario
0,2026,43.53125_-116.59375,92,2.352305,23.368053,27.85959,3.009202,0.025247,268.491667,3669.118839,1,ensembe_mean
1,2026,43.59375_-116.78125,92,2.336201,24.035184,27.50817,2.912981,0.027137,260.750000,3623.723188,1,ensembe_mean

## Append

  - First append the needed treated unit to all historical/control units so we can find nearest locations.
  - Then take numeric part of the data to be able to operate on them.
        - normalize
        - find distances
  - add the distances back to the data frame.
  - sort the data frame according to distances.

In [ ]:
one_site = avg_rcp45.iloc[0, :].copy()
dt = all_data_usa.append(one_site)

# Sklearn starts

#### Take the numerical values so we can work with them, normalize them, compute KNNs

In [ ]:
dt_numeric = dt.drop(['year', 'location', 'treatment', 'ClimateScenario'], axis=1).copy()
dt_numeric.head(2)

### Normalize data

In [ ]:
x = dt_numeric.values
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
normalized_dt = pd.DataFrame(x_scaled)
normalized_dt.tail(2)

In [ ]:
normalized_dt.head(2)

In [ ]:
print (type(normalized_dt))
print (type(normalized_dt.iloc[1,1]))

### compute Euclidean distances 
Subtract the last row from all other rows to compute distances.

In [ ]:
subtracted = normalized_dt - normalized_dt.iloc[-1, ]
distances = np.linalg.norm(subtracted, axis=1, keepdims=True)
dt['distances'] = distances
dt = dt.sort_values(by=['distances'])
dt.head(2)

In [ ]:
out_name = one_site['location'] + '_' + str(one_site['year']) + ".csv"

print (out_name)

dt.to_csv(out_dir + out_name, sep='\t')

In [ ]:
dt.head(10)