In [1]:
###############################################################################################
#
# https://scikit-learn.org/stable/auto_examples/covariance/plot_mahalanobis_distances.html
# https://scikit-learn.org/stable/modules/generated/sklearn.covariance.EmpiricalCovariance.html
#
################################################################################################

# basic libraries
import numpy as np
import pandas as pd

from scipy.spatial import distance
import sklearn
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

from scipy.spatial import distance
from sklearn.covariance import EmpiricalCovariance, MinCovDet
import sklearn.covariance

import warnings

In [4]:
main_dir = "/Users/hn/Desktop/Desktop/Kirti/check_point/analogs/"

main_us_dir = main_dir + "usa/ready_features/"
main_local_dir = main_dir + "local/ready_features/one_file_4_all_locations/"
output_dir =  main_dir + "z_R_results/sigma/"

In [13]:
all_data_usa = pd.read_csv( main_dir + "all_data_usa.csv")
local_dt = pd.read_csv( main_dir + "averaged_data_rcp45.csv")
all_data_usa = all_data_usa.drop(['treatment'], axis=1)

In [14]:
columns_ord = ["year", "location","ClimateScenario",
               "medianDoY", "NumLarvaGens_Aug", 
               "mean_escaped_Gen1", "mean_escaped_Gen2",
               "mean_escaped_Gen3", "mean_escaped_Gen4",
               "mean_gdd", "mean_precip"]
numeric_feat = columns_ord[3:]

In [39]:
all_data_usa = all_data_usa[columns_ord]
all_usa_numeric = all_data_usa.loc[:, numeric_feat].copy()

In [41]:
all_locations = pd.Series(all_data_usa.location.unique())
local_locations = pd.Series(local_dt.location.unique())

# convert them to Index type to find the intersecting entries
all_locations_idx = pd.Index(all_locations)
local_locations_idx = pd.Index(local_locations)
#
local_locations = pd.Series(local_locations_idx.intersection(all_locations_idx))

In [47]:
future_years = local_dt.year.unique()

In [97]:
col_names = ["future_loc", "future_year", "hist_loc", "hist_year", "dist"]
all_distances_table = pd.DataFrame(0, index=np.arange(10), columns = col_names)
all_distances_table.head(1)

   future_loc  future_year  hist_loc  hist_year  dist
0           0            0         0          0     0

In [96]:
Cj_numeric = Cj.iloc[:, 3:]

,medianDoY,NumLarvaGens_Aug,mean_escaped_Gen1,mean_escaped_Gen2,mean_escaped_Gen3,mean_escaped_Gen4,mean_gdd,mean_precip
850,115,2.072373,36.494252,19.172477,0.133536,0.0,3238.156428,275.3
2143,112,2.014510,36.249042,14.991573,0.004245,0.0,2958.045976,331.5

In [122]:
cov_matrix = pd.DataFrame(sklearn.covariance.empirical_covariance(Cj_numeric, assume_centered=False), 
                          columns=list(Cj_numeric))
cov_matrix.head(2)

,medianDoY,NumLarvaGens_Aug,mean_escaped_Gen1,mean_escaped_Gen2,mean_escaped_Gen3,mean_escaped_Gen4,mean_gdd,mean_precip
0,100.731921,-0.973951,39.038926,-50.021444,-2.766131,0.0,-1559.425626,150.616673
1,-0.973951,0.017879,-0.501081,0.799762,0.043799,0.0,26.773509,-3.244063

In [159]:
cov_matrix_inv = pd.DataFrame(np.linalg.pinv(cov_matrix.values),
                             columns = cov_matrix.columns, index=cov_matrix.index)
cov_matrix_inv.head(2)

,medianDoY,NumLarvaGens_Aug,mean_escaped_Gen1,mean_escaped_Gen2,mean_escaped_Gen3,mean_escaped_Gen4,mean_gdd,mean_precip
0,0.027328,0.609464,-0.018428,0.014133,-0.041829,-1.453861e-15,-0.000041,0.000585
1,0.609464,401.680286,-2.488224,-6.698676,-11.219833,-9.593852e-13,-0.047619,-0.089035

,medianDoY,NumLarvaGens_Aug,mean_escaped_Gen1,mean_escaped_Gen2,mean_escaped_Gen3,mean_escaped_Gen4,mean_gdd,mean_precip
0,100.731921,-0.973951,39.038926,-50.021444,-2.766131,0.0,-1559.425626,150.616673
1,-0.973951,0.017879,-0.501081,0.799762,0.043799,0.0,26.773509,-3.244063
2,39.038926,-0.501081,28.684740,-29.316146,-1.806136,0.0,-898.341609,118.681006
3,-50.021444,0.799762,-29.316146,43.536689,2.332365,0.0,1357.882311,-210.718065
4,-2.766131,0.043799,-1.806136,2.332365,0.188906,0.0,76.129185,-10.861529
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
6,-1559.425626,26.773509,-898.341609,1357.882311,76.129185,0.0,56544.568510,-6778.698776
7,150.616673,-3.244063,118.681006,-210.718065,-10.861529,0.0,-6778.698776,3926.664346