# Fields for Experts 

Initially, we chose 250 fields manually for experts. Here I will make more sents by code.

In [19]:
import pandas as pd

In [20]:
param_in_data_dir = "/Users/hn/Documents/01_research_data/NASA/parameters/"

## Read all the ~6000 fields chosen previously

In [21]:
evaluation_set = pd.read_csv(param_in_data_dir + "Eshwar_Extensive.csv")
evaluation_set.drop(labels=['Text box Text', 'Question_overall'], axis='columns', inplace=True)
evaluation_set.head(1)

,ID,NDVI_TS_Name,corrected_RGB,TOA_RGB,latitude,longitude,Question Text,CropTyp,Irrigtn,DataSrc,Acres,ExctAcr,LstSrvD,county
0,104119_WSDA_SF_2016,AdamBenton2016_104119_WSDA_SF_2016.png,104119_WSDA_SF_2016_46.83273927_-118.91209151_...,104119_WSDA_SF_2016_46.83273927_-118.91209151_...,46.832739,-118.912092,How would you label this field?,alfalfa hay,center pivot,wsda,26,26.413875,2016/08/17 00:00:00,Adams

# Read hand-picked fields

In [22]:
hand_picked = pd.read_csv(param_in_data_dir + "threeHundred_IDs_Set2_Perry.csv")
hand_picked.dropna(inplace=True)
hand_picked.head(2)

                   ID
0  52701_WSDA_SF_2016
1  53739_WSDA_SF_2016

In [23]:
evaluation_set = evaluation_set[evaluation_set.ID.isin(list(hand_picked.ID.unique()))].copy()

In [24]:
evaluation_set.sort_values(by=['CropTyp', 'county', "ID"], inplace=True)
evaluation_set.reset_index(drop=True, inplace=True)

### Write the sets in excel format

In [25]:
perry_dir = "/Users/hn/Documents/01_research_data/NASA/Perry_and_Co/"
out_name = "set2_hand_picked_extended.csv"
evaluation_set.to_csv( perry_dir + out_name, index = False)

In [26]:
no_questions = 50

writer_limited = pd.ExcelWriter(perry_dir + 'set_2_handPicked.xlsx', engine='xlsxwriter') 

if evaluation_set.shape[0] % no_questions != 0:
    no_dfs = evaluation_set.shape[0] // no_questions + 1
else:
    no_dfs = evaluation_set.shape[0] // no_questions

for ii in range(no_dfs):
    curr_sheet = evaluation_set.loc[(ii*no_questions): ((ii+1) * no_questions) - 1, ]
    curr_sheet.reset_index(drop=True, inplace=True)
    curr_sheet.to_excel(writer_limited, sheet_name= "set_2_form_" + str(ii+1), index=False)

writer_limited.save()

In [27]:
len(evaluation_set.CropTyp.unique())

24